header {
  background: $white;
  box-shadow: 0 4px 29px 5px rgba(0, 0, 0, .03);
  position: relative;

  .tix-nav__wrapper {
    @include flexed;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 70px;

    .nav-item__right {
      .tix-dropdown {
        position: relative;
        display: inline-block;
        outline: 0 !important;

        &__toggle {
          @include flexed;
          cursor: pointer;
          outline: 0 !important;

          .user-initials {
            @include flexed;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background: $primary;
            color: $white;
            font-weight: 600;
            outline: 0 !important;
            text-transform: uppercase;
          }

          .user-name {
            color: #4b4c52;
            font-weight: 500;
          }
        }

        &__content {
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
          top: 50px;
          z-index: 9999;
          min-width: 12rem;
          padding: 11px;
          left: 0;
          border: none;
          border-radius: 4px;
          background: #fff;
          margin: .125rem 0 0;
          list-style: none;
          position: absolute;

          // &:before {
          //   position: absolute;
          //   content: '';
          //   top: -10px;
          //   margin-left: -7px;
          //   height: 0;
          //   width: 0;
          //   border-left: 9px solid transparent;
          //   border-right: 9px solid transparent;
          //   border-bottom: 15px solid #fff;
          //   left: auto;
          //   right: 8px;
          //   border-bottom-color: #fafafa;
          // }

          .tix-dropdown__item-divider {
            height: 1px;
            background: #dae1e8;
            width: 100%;
            margin: 16px 0;
          }

          .tix-dropdown__item {
            color: #4b4c52;
            font-size: 14px;
            font-weight: 400;

            &.user-details {
              &:hover {
                background-color: transparent !important;
              }

              .user-name {
                box-sizing: border-box;
                display: block;
                width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-weight: 500;
                font-size: 16px;
                color: #4b4c52;
                padding: 6px 12px 0;
              }

              .user-email {
                box-sizing: border-box;
                display: block;
                width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-weight: 400;
                font-size: 13px;
                color: #687882;
                padding: 6px 12px;
              }
            }

            &:hover {
              background-color: #e0e6ed;
              border-radius: 6px;
            }

            &:not(:last-child) {
              a {
                padding: 6px 12px;
              }
            }

            a {
              color: #4b4c52;
              font-size: 15px;
              font-weight: 400;
              outline: none;
              text-decoration: none;
              background-color: transparent;
              line-height: 25px;
              padding: 9px 12px;
              width: 100%;
              display: inline-flex;
              box-sizing: border-box;
              white-space: nowrap;
              align-items: center;

              svg {
                margin-right: 8px;
                color: #49516b;
                fill: rgba(0, 23, 55, 0.08);
                height: 21px;
                width: 21px;
              }
            }
          }

        }
      }
    }
  }

}